schain_name = 'my-schain'
max_credits_per_payment = 1000
# poll_seconds = 120
# key_file = '/run/secrets/distributor_key'
# state_file = '/state/state.json'

[destination]
endpoint = 'https://mainnet.skalenodes.com/v1/my-schain'
contract = '0x0000000000000000000000000000000000000000'

[[sources]]
name = 'ethereum'
endpoint = 'https://ethereum.example'
contract = '0x0000000000000000000000000000000000000000'
block_tag = 'finalized'
source_id = 1
start_offset = 1

[[sources]]
name = 'base'
endpoint = 'https://base.example'
contract = '0x0000000000000000000000000000000000000000'
block_tag = 'safe'
source_id = 2
start_offset = 1
